@use "sass:map";
@use "../utils/breakpoints" as *;

.education {
  background-color: var(--color-background-1);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.education__title {
  text-align: center;
  padding-bottom: 2rem;
}

.education__institutions {
  display: grid;
  gap: 3rem 1rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: map.get($breakpoints, md)) {
  .education__institutions {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: map.get($breakpoints, lg)) {
  .education {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
