@use "sass:map";
@use "../utils/breakpoints" as *;

.projects {
  padding-top: 2rem;
  padding-bottom: 3rem;

  &__title {
    text-align: center;
    padding-bottom: 2rem;
  }

  @media screen and (min-width: map.get($breakpoints, lg)) {
    padding-bottom: 5rem;
  }
}
