@use "sass:map";
@use "../utils/breakpoints" as *;

.projects {
  padding-top: 2rem;
  padding-bottom: 3rem;

  &__title {
    text-align: center;
    padding-bottom: 2rem;
  }

  &__container {
    margin-bottom: 5rem;
  }

  &__more {
    display: block;
    margin: 0 auto;
    max-width: fit-content;
  }

  @media screen and (min-width: map.get($breakpoints, lg)) {
    padding-bottom: 5rem;
  }
}
