.button {
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  color: var(--color-button-text);
  font-family: var(--font-main);
  font-size: 1rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  transition:
    background-color 500ms,
    border-color 500ms,
    color 500ms;

  &:focus-visible,
  &:hover {
    background-color: var(--color-secondary);
  }

  &--transparent {
    background-color: transparent;
    border: 0.125rem solid var(--color-primary);
    color: var(--color-source-button);

    &:focus-visible,
    &:hover {
      background-color: var(--color-source);
    }
  }
}
