@use "sass:map";
@use "../utils/breakpoints" as *;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;

  @media screen and (min-width: map.get($breakpoints, xs)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: map.get($breakpoints, sm)) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: map.get($breakpoints, lg)) {
    grid-template-columns: repeat(6, 1fr);
  }
}
