@use "sass:map";
@use "../utils/breakpoints" as *;

@media screen and (min-width: map.get($breakpoints, lg)) {
  .line-under {
    display: inline-block;

    &::after {
      background-color: var(--color-primary);
      content: "";
      display: block;
      height: 0.175em;
      margin-top: 2px;
      transition: width 250ms ease-out;
      width: 0%;
    }

    &--pink::after {
      background-color: var(--color-link-1);
    }

    &--blue::after {
      background-color: var(--color-link-2);
    }

    &--green::after {
      background-color: var(--color-link-3);
    }

    &-container:focus-visible > &::after,
    &-container:hover > &::after,
    &:focus-visible::after,
    &:hover::after {
      width: 100%;
    }
  }
}
