.skills__title {
    color: #464646;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
    .skills__title {
        font-size: 2rem;
    }
}