.menu__link {
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 500ms;
}

.menu__link:hover {
    opacity: 0.75;
}