.to-top {
  --size: 3.125rem;
  --move-x-initial: 0;
  --move-y-initial: 50%;
  animation: fade-and-move 500ms;
  bottom: var(--container-sides);
  border-radius: 50%;
  color: var(--color-button-text);
  font-size: 0.75rem;
  font-weight: 600;
  height: var(--size);
  line-height: var(--size);
  overflow: hidden;
  position: fixed;
  right: var(--container-sides);
  text-decoration: none;
  text-align: center;
  width: var(--size);
  z-index: 5;
}

.to-top__content {
  --vertical-shadow: 2px;
  box-shadow: 0 var(--vertical-shadow) var(--color-black);
  background-color: var(--color-primary);
  transition: transform 50ms;
}

.to-top:active > .to-top__content {
  --vertical-shadow: 0;
  transform: translateY(0.15rem);
}

.to-top--hidden {
  display: none;
}
