.to-top {
  --size: 3.125rem;
  --move-x-initial: 0;
  --move-y-initial: 50%;
  --shadow-y: 2px;
  animation: fade-and-move 500ms;
  background-color: var(--color-primary);
  box-shadow: 0 var(--shadow-y) 5px rgba(0, 0, 0, 0.35);
  bottom: var(--container-sides);
  border-radius: 50%;
  color: var(--color-button-text);
  font-size: 0.75rem;
  font-weight: 600;
  height: var(--size);
  line-height: var(--size);
  overflow: hidden;
  position: fixed;
  right: var(--container-sides);
  transition: transform 50ms;
  text-decoration: none;
  text-align: center;
  width: var(--size);
  z-index: 5;

  &:active {
    --shadow-y: 0;
    transform: scale(0.95);
  }

  &--hidden {
    display: none;
  }
}
