@use "sass:map";
@use "../utils/breakpoints" as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3.125rem;
  row-gap: 2.5rem;
}

.header__main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Hamburguer */
.header__hamburguer {
  --line-gap: 0.4rem;
  --line-width: 1.5rem;
  --line-height: 0.15rem;
  --translation: calc(var(--line-height) + var(--line-gap));
  --translation-neg: calc(var(--translation) * -1);
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--line-gap);
  justify-content: space-between;
  padding: 0;
  width: var(--line-width);
}

.header__hamburguer:hover {
  cursor: pointer;
}

.hamb-line,
.header__hamburguer::after,
.header__hamburguer::before {
  content: "";
  background-color: var(--color-text);
  display: block;
  height: var(--line-height);
  width: 100%;
  transition: opacity 400ms, transform 400ms, width 400ms;
}

.header__hamburguer--close::before {
  transform: translateY(var(--translation)) rotate(45deg);
}

.header__hamburguer--close > .hamb-line {
  opacity: 0;
  width: 0%;
}

.header__hamburguer--close::after {
  transform: translateY(var(--translation-neg)) rotate(-45deg);
}

.header__menu {
  --move-x-initial: 0;
  --move-y-initial: -1rem;
  animation: fade-and-move 0.3s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__menu--off {
  display: none;
}

@media screen and (min-width: map.get($breakpoints, lg)) {
  .header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__hamburguer {
    display: none;
  }

  .header__menu {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}
