:root {
  /* Base Colors */
  --color-black: #000000;
  --color-bright-blue: #d4e4fa;
  --color-blue: #0c65dd;
  --color-blue-linkedin: #1575ca;
  --color-dark-gray: #464646;
  --color-gray: #808080;
  --color-green: #008000;
  --color-green-resume: #19b64d;
  --color-light-gray: #6f6f6f;
  --color-light-white: #f5f5f5;
  --color-light-blue: #5595e9;
  --color-pink-github: #b514b5;
  --color-red: #ff0000;
  --color-light-red: #ff6363;
  --color-light-transparent-red: rgb(255 196 196 / 58%);
  --color-dark-red: #c70000;
  --color-dark-transparent-red: rgb(117 39 39 / 57%);
  --color-tomato: #ff6347;
  --color-dark-tomato: #e32d0c;
  --color-white: #ffffff;
  --color-white-blue: #eaf2fd;
  --color-white-gray: #e5e5e5;

  /* Dark Colors */
  --color-dark-background-1: #1b1d1e;
  --color-dark-background-2: #272a2c;
  --color-dark-background-3: #1e2021;
  --color-dark-description: #eeeeee;
  --color-dark-disabled: #60686c;
  --color-dark-neutral: #181a1b;
  --color-dark-source: #26292a;
  --color-dark-source-button: var(--color-light-blue);
  --color-dark-text: #bcb6ad;

  /* Fonts */
  --font-main: "Raleway", sans-serif;

  /* Spacing */
  --container-sides: 1rem;
}

@mixin default-theme {
  --color-background-1: var(--color-white-blue);
  --color-background-2: var(--color-white-gray);
  --color-background-3: var(--color-light-white);
  --color-button-text: var(--color-white);
  --color-contact-feedback: var(--color-dark-gray);
  --color-link-1: var(--color-pink-github);
  --color-link-2: var(--color-blue-linkedin);
  --color-link-3: var(--color-green-resume);
  --color-danger: var(--color-red);
  --color-description: var(--color-black);
  --color-disabled: var(--color-gray);
  --color-highlight: var(--color-dark-tomato);
  --color-ok: var(--color-green);
  --color-placeholder: var(--color-light-gray);
  --color-primary: var(--color-blue);
  --color-neutral: var(--color-white);
  --color-secondary: var(--color-light-blue);
  --color-source: var(--color-bright-blue);
  --color-source-button: var(--color-blue);
  --color-text: var(--color-dark-gray);
  --color-invalid: var(--color-dark-red);
  --color-invalid-bg: var(--color-light-transparent-red);
}

@mixin dark-theme {
  --color-background-1: var(--color-dark-background-1);
  --color-background-2: var(--color-dark-background-2);
  --color-background-3: var(--color-dark-background-3);
  --color-description: var(--color-dark-description);
  --color-disabled: var(--color-dark-disabled);
  --color-highlight: var(--color-tomato);
  --color-neutral: var(--color-dark-neutral);
  --color-source: var(--color-dark-source);
  --color-source-button: var(--color-light-blue);
  --color-text: var(--color-dark-text);
  --color-invalid: var(--color-light-red);
  --color-invalid-bg: var(--color-dark-transparent-red);
}

:root,
:root.light {
  @include default-theme;
}

:root.dark {
  @include dark-theme;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     @include dark-theme;
//   }
// }
