@use "sass:map";
@use "../utils/breakpoints" as *;
@use "../utils/themes";
@use "../utils/animations";

* {
  scrollbar-color: var(--color-blue) var(--color-background-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background-3);
  font-family: var(--font-main);
}

body,
header,
section,
footer {
  transition: background-color 300ms;
}

.wrapper {
  --move-x-initial: -2rem;
  animation: fade-and-move 0.8s ease;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  padding: 0 var(--container-sides);
}

.title {
  color: var(--color-text);
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: capitalize;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  animation: focus 0.35s ease-out forwards;
  outline: 2px solid var(--color-text);
}

@media screen and (min-width: map.get($breakpoints, md)) {
  :root {
    --container-sides: 2rem;
  }
}

@media screen and (min-width: map.get($breakpoints, lg)) {
  :root {
    --container-sides: 6rem;
  }

  .title {
    font-size: 2rem;
  }
}
