.footer {
  background-color: var(--color-neutral);
  padding: 2rem 0;
  text-align: center;
}

.footer__text {
  color: var(--color-text);
  font-weight: 500;
}

.footer__highlight {
  color: var(--color-highlight);
}

.footer__date {
  color: var(--color-text);
  padding-top: 0.25rem;
}