:root {
    /* Colors */
    --color-blue: #2A7AE4;
    --color-dark-gray: #464646;
    --color-gray: #808080;
    --color-green: #008000;
    --color-light-white: #F5F5F5;
    --color-light-blue: #5595E9;
    --color-red: #FF0000;
    --color-tomato: #FF6347;
    --color-white: #FFFFFF;
    --color-white-blue: #EAF2FD;
    --color-white-gray: #E5E5E5;

    /* Screen Sizes */
    --screen-s-mobile: 325px;
    --screen-m-mobile: 600px;
    --screen-tablet: 768px;
    --screen-desktop: 1024px;

    /* Fonts */
    --font-main: 'Raleway', sans-serif;
}

body {
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
}