.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem 1rem;
}

.card {
    height: 8rem;
    perspective: 25rem;
    position: relative;
}

.card__container {
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 500ms ease-out;
}

.card:hover > .card__container {
    transform: rotateY(180deg) translateY(-0.5rem) scale(1.05);
}

.card__face {
    background-color: var(--color-neutral);
    border-radius: 0.3125rem;
    box-sizing: border-box;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    padding: 1rem;
    position: absolute;
    width: 100%;
}

.card__face--front {
    flex-direction: column;
    justify-content: flex-end;
}

.card__face--back {
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    text-align: center;
}

.card__text {
    font-size: 1rem;
    line-height: 1.4rem;
}

.card__image {
    background: no-repeat center / cover;
    height: 1.875rem;
    margin-bottom: 1rem;
    width: 1.875rem;
}

/* Skills */
.card__image--skill-1 {
    background-image: url("../img/skills/html.svg");
}

.card__image--skill-2 {
    background-image: url("../img/skills/css.svg");
}

.card__image--skill-3 {
    background-image: url("../img/skills/js.svg");
}

.card__image--skill-4 {
    background-image: url("../img/skills/java.svg");
}

.card__image--skill-5 {
    background-image: url("../img/skills/git.svg");
}

.card__image--skill-6 {
    background-image: url("../img/skills/vscode.svg");
}

/* Hobbies */
.card__image--hobby-1 {
    background-image: url("../img/hobbies/chat.svg");
}

.card__image--hobby-2 {
    background-image: url("../img/hobbies/games.svg");
}

.card__image--hobby-3 {
    background-image: url("../img/hobbies/music.svg");
}

.card__image--hobby-4 {
    background-image: url("../img/hobbies/programming.svg");
}

.card__image--hobby-5 {
    background-image: url("../img/hobbies/reading.svg");
}

.card__image--hobby-6 {
    background-image: url("../img/hobbies/videos.svg");
}

.card__title {
    color: var(--color-text);
    font-weight: 700;
}

@media screen and (min-width: 325px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(6, 1fr);
    }

    .card {
        height: 10rem;
    }
}