.contact {
    background-color: var(--color-background-1);
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact__image {
    background: url("../img/contact.jpg") no-repeat center / cover;
    display: none;
}

.contact__title {
    margin-bottom: .5rem;
}

.contact__description {
    font-weight: 300;
    line-height: 1.25;
}

.contact__error {
    color: var(--color-danger);
    margin: 1rem 0;
}

.contact__form__group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.contact__label {
    font-size: 1rem;
    opacity: .35;
    padding-left: 1rem;
    position: absolute;
    transition: all .15s ease-in-out;
    top: 1.5rem;
}

.contact__field {
    border: none;
    border-bottom: .125rem solid var(--color-disabled);
    border-radius: .3125rem;
    box-sizing: border-box;
    display: block;
    font-family: var(--font-main);
    font-size: 1rem;
    margin-bottom: 2rem;
    outline: none;
    padding: 1.25rem 1rem;
    resize: none;
    transition: border 150ms ease-in-out, padding 100ms ease;
    width: 100%;
}

.contact__field--error {
    border-color: var(--color-danger);
}

.contact__field--ok {
    border-color: var(--color-ok);
}

.has-content,
.contact__field:focus {
    padding: 2rem 1rem .5rem;
}

.contact__field:focus {
    border-color: var(--color-primary);
}

.has-content + .contact__label,
.contact__field:focus + .contact__label {
    font-size: 85%;
    top: .5rem;
}

.contact__field:focus + .contact__label {
    color: var(--color-primary);
    opacity: 1;
}

.contact__field::placeholder {
    font-size: 1rem;
    opacity: .35;
}

.contact__button {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-neutral);
    cursor: pointer;
    font-family: var(--font-main);
    font-size: 1rem;
    margin-right: .75rem;
    padding: .8rem 1rem;
    text-decoration: none;
    transition: all 500ms;
}

.contact__button--disabled {
    background-color: var(--color-disabled);
    pointer-events: none;
}

.contact__button:hover {
    background-color: var(--color-secondary);
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .contact {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .contact {
        gap: 1rem;
        grid-template-columns: 2fr 3fr;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .contact__image {
        display: block;
    }
}