.contact {
    background-color: var(--color-background-1);
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.contact__feedback {
    --feedback-size: 100%;
    background-color: rgba(0, 255, 0, .25);
    display: none;
    height: var(--feedback-size);
    position: absolute;
    width: var(--feedback-size);
    z-index: 1;
}

.contact__feedback--show {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact__feedback--show ~ .contact__item {
    filter: blur(5px);
}

.contact__feedback__title {
    text-align: center;
}

.contact__feedback__title::before {
    --feedback-icon-size: 16rem;
    background: url("../img/status/success.png") no-repeat center / var(--feedback-icon-size);
    content: "";
    display: block;
    height: var(--feedback-icon-size);
    margin: 0 auto 2rem;
    width: var(--feedback-icon-size);
}

.contact__feedback__close {
    --feedback-btn-size: 3rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    height: var(--feedback-btn-size);
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: color 100ms;
    width: var(--feedback-btn-size);
}

.contact__feedback__close:hover {
    color: var(--color-danger);
}

.contact__image {
    background: url("../img/contact.jpg") no-repeat center / cover;
    display: none;
}

.contact__title {
    margin-bottom: .5rem;
}

.contact__description {
    font-weight: 300;
    line-height: 1.25;
}

.contact__error {
    color: var(--color-danger);
    margin: 1rem 0;
}

.contact__form__group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.contact__label {
    color: var(--color-placeholder);
    cursor: text;
    font-size: 1rem;
    padding-left: 1rem;
    position: absolute;
    transition: top .15s ease-in-out, font-size .15s ease-in-out;
    top: 1.4rem;
}

.contact__field {
    border: none;
    border-bottom: .125rem solid var(--color-disabled);
    border-radius: .3125rem;
    box-sizing: border-box;
    display: block;
    font-family: var(--font-main);
    font-size: 1rem;
    margin-bottom: 2rem;
    outline: none;
    padding: 1.25rem 1rem;
    resize: none;
    transition: border 150ms ease-in-out, padding 100ms ease;
    width: 100%;
}

.contact__field[required] + .contact__label::after {
    content: "*";
    color: var(--color-danger);
    padding-left: .2rem;
}

.contact__field--error {
    border-color: var(--color-danger);
}

.contact__field--ok {
    border-color: var(--color-ok);
}

.has-content,
.contact__field:focus {
    padding: 2rem 1rem .5rem;
}

.contact__field:focus {
    border-color: var(--color-primary);
}

.has-content + .contact__label,
.contact__field:focus + .contact__label {
    font-size: 85%;
    top: .5rem;
}

.contact__field:focus + .contact__label {
    color: var(--color-primary);
}

.contact__field::placeholder {
    font-size: 1rem;
}

.contact__button {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-neutral);
    cursor: pointer;
    font-family: var(--font-main);
    font-size: 1rem;
    margin-right: .75rem;
    padding: .8rem 1rem;
    text-decoration: none;
    transition: all 500ms;
}

.contact__button--disabled {
    background-color: var(--color-disabled);
    pointer-events: none;
}

.contact__button:hover {
    background-color: var(--color-secondary);
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    .contact {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .contact {
        gap: 1rem;
        grid-template-columns: 2fr 3fr;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .contact__image {
        display: block;
    }
}