.hobbies {
    background-color: #E5E5E5;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.hobbies__title {
    color: #464646;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
    .hobbies__title {
        font-size: 2rem;
    }
}