@charset "UTF-8";
/* Essential */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Base Colors */
  --color-black: #000000;
  --color-bright-blue: #D4E4FA;
  --color-blue: #0C65DD;
  --color-blue-linkedin: #1575CA;
  --color-dark-gray: #464646;
  --color-gray: #808080;
  --color-green: #008000;
  --color-green-resume: #19B64D;
  --color-light-gray: #A2A2A2;
  --color-light-white: #F5F5F5;
  --color-light-blue: #5595E9;
  --color-pink-github: #B514B5;
  --color-red: #FF0000;
  --color-tomato: #FF6347;
  --color-white: #FFFFFF;
  --color-white-blue: #EAF2FD;
  --color-white-gray: #E5E5E5;
  /* Dark Colors */
  --color-dark-background-1: #1B1D1E;
  --color-dark-background-2: #272A2C;
  --color-dark-background-3: #1E2021;
  --color-dark-description: #EEEEEE;
  --color-dark-disabled: #60686C;
  --color-dark-neutral: #181A1B;
  --color-dark-source: #26292A;
  --color-dark-source-button: var(--color-light-blue);
  --color-dark-text: #BCB6AD;
  /* Fonts */
  --font-main: "Raleway", sans-serif;
  /* Spacing */
  --container-sides: 1rem;
}

:root,
:root.light {
  --color-background-1: var(--color-white-blue);
  --color-background-2: var(--color-white-gray);
  --color-background-3: var(--color-light-white);
  --color-button-text: var(--color-white);
  --color-contact-feedback: var(--color-dark-gray);
  --color-link-1: var(--color-pink-github);
  --color-link-2: var(--color-blue-linkedin);
  --color-link-3: var(--color-green-resume);
  --color-danger: var(--color-red);
  --color-description: var(--color-black);
  --color-disabled: var(--color-gray);
  --color-highlight: var(--color-tomato);
  --color-ok: var(--color-green);
  --color-placeholder: var(--color-light-gray);
  --color-primary: var(--color-blue);
  --color-neutral: var(--color-white);
  --color-secondary: var(--color-light-blue);
  --color-source: var(--color-bright-blue);
  --color-source-button: var(--color-blue);
  --color-text: var(--color-dark-gray);
}

:root.dark {
  --color-background-1: var(--color-dark-background-1);
  --color-background-2: var(--color-dark-background-2);
  --color-background-3: var(--color-dark-background-3);
  --color-description: var(--color-dark-description);
  --color-disabled: var(--color-dark-disabled);
  --color-neutral: var(--color-dark-neutral);
  --color-source: var(--color-dark-source);
  --color-source-button: var(--color-light-blue);
  --color-text: var(--color-dark-text);
}

html,
body {
  background-color: var(--color-background-3);
  font-family: var(--font-main);
  scroll-behavior: smooth;
}

body,
header,
section,
footer {
  transition: background-color 300ms;
}

.wrapper {
  --move-x-initial: -2rem;
  animation: fade-and-move 0.8s ease;
  margin: 0 auto;
  max-width: 1440px;
}

@keyframes fade-and-move {
  from {
    transform: translate(var(--move-x-initial, 0), var(--move-y-initial, 0));
    opacity: var(--opacity-initial, 0);
  }
  to {
    transform: translate(var(--move-x-final, 0), var(--move-y-final, 0));
    opacity: var(--opacity-final, 1);
  }
}
.container {
  padding: 0 var(--container-sides);
}

.title {
  color: var(--color-text);
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: capitalize;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-1: var(--color-dark-background-1);
    --color-background-2: var(--color-dark-background-2);
    --color-background-3: var(--color-dark-background-3);
    --color-description: var(--color-dark-description);
    --color-disabled: var(--color-dark-disabled);
    --color-neutral: var(--color-dark-neutral);
    --color-source: var(--color-dark-source);
    --color-source-button: var(--color-light-blue);
    --color-text: var(--color-dark-text);
  }
}
@media screen and (min-width: 768px) {
  :root {
    --container-sides: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --container-sides: 6rem;
  }
  .title {
    font-size: 2rem;
  }
}
/* Structure */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3.125rem;
  row-gap: 2.5rem;
}

.header__main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Hamburguer */
.header__hamburguer {
  --line-gap: 0.4rem;
  --line-width: 1.5rem;
  --line-height: 0.15rem;
  --translation: calc(var(--line-height) + var(--line-gap));
  --translation-neg: calc(var(--translation) * -1);
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: var(--line-gap);
  justify-content: space-between;
  padding: 0;
  width: var(--line-width);
}

.header__hamburguer:hover {
  cursor: pointer;
}

.hamb-line,
.header__hamburguer::after,
.header__hamburguer::before {
  content: "";
  background-color: var(--color-text);
  display: block;
  height: var(--line-height);
  width: 100%;
  transition: opacity 400ms, transform 400ms, width 400ms;
}

.header__hamburguer--close::before {
  transform: translateY(var(--translation)) rotate(45deg);
}

.header__hamburguer--close > .hamb-line {
  opacity: 0;
  width: 0%;
}

.header__hamburguer--close::after {
  transform: translateY(var(--translation-neg)) rotate(-45deg);
}

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__menu--off {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__hamburguer {
    display: none;
  }
  .header__menu {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}
.main-title {
  color: var(--color-text);
  font-family: var(--font-main);
  font-weight: 700;
}

.main-title::before {
  content: "🤩";
  padding-right: 0.25rem;
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem 1.75rem;
  text-align: center;
}

.menu__link {
  border-bottom: 0.125rem solid var(--color-text);
  color: var(--color-text);
  display: inline-block;
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.35rem 0;
  text-decoration: none;
  transition: opacity 500ms;
  width: 100%;
}

.menu__link:focus,
.menu__link:hover {
  opacity: 0.75;
}

@media screen and (min-width: 1024px) {
  .menu {
    width: auto;
  }
  .menu__list {
    flex-direction: row;
  }
  .menu__link {
    border: none;
    display: inline;
    padding: 0.25rem;
    width: auto;
  }
}
.personal-info {
  --photo-size: clamp(10rem, 25vw, 25rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3.125rem;
}

.personal-info__image {
  background: url("../img/photo.jpg") no-repeat center/cover;
  border-radius: 50%;
  height: var(--photo-size);
  width: var(--photo-size);
}

.personal-info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.personal-info__title {
  line-height: 1.25;
}

.personal-info__description {
  color: var(--color-description);
  font-weight: 300;
  line-height: 1.25;
}

.personal-info__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.personal-info__link {
  color: var(--color-text);
  font-weight: 600;
  padding: 0.5rem 0;
  text-decoration: none;
  transition: opacity 500ms, color 500ms;
}

.personal-info__link::before {
  --size: 1.5rem;
  --mask-size: var(--size);
  --mask-repeat: no-repeat;
  background-color: var(--color-text);
  content: "";
  display: inline-block;
  height: var(--size);
  mask-repeat: var(--mask-repeat);
  -webkit-mask-repeat: var(--mask-repeat);
  mask-size: var(--mask-size);
  -webkit-mask-size: var(--mask-size);
  margin-right: 0.5rem;
  transition: background-color 300ms;
  vertical-align: -35%;
  width: var(--size);
}

.personal-info__link:focus,
.personal-info__link:hover {
  opacity: 0.8;
}

.personal-info__link--info-1::before {
  --mask-image: url("../img/social/github.svg");
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
}

.personal-info__link--info-1:focus::before,
.personal-info__link--info-1:hover::before {
  background-color: var(--color-link-1);
}

.personal-info__link--info-2::before {
  --mask-image: url("../img/social/linkedin.svg");
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
}

.personal-info__link--info-2:focus::before,
.personal-info__link--info-2:hover::before {
  background-color: var(--color-link-2);
}

.personal-info__link--info-3::before {
  --mask-image: url("../img/social/resume.svg");
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
}

.personal-info__link--info-3:focus::before,
.personal-info__link--info-3:hover::before {
  background-color: var(--color-link-3);
}

@media screen and (min-width: 768px) {
  .personal-info {
    flex-direction: row-reverse;
  }
  .personal-info__content {
    width: calc(100% - var(--photo-size) - 2rem);
  }
  .personal-info__description {
    font-size: 1.1rem;
  }
  .personal-info__list {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .personal-info__description {
    font-size: 1.2rem;
  }
}
.about-me {
  background-color: var(--color-background-1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-me__description {
  color: var(--color-description);
  font-weight: 300;
  line-height: 1.25;
  text-align: justify;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;
}

.card {
  --perspective: 25rem;
  height: 8rem;
  perspective: var(--perspective);
  -moz-perspective: var(--perspective);
  -webkit-perspective: var(--perspective);
  position: relative;
}

.card__container {
  --preserve-3d: preserve-3d;
  height: 100%;
  transform-style: var(--preserve-3d);
  -moz-transform-style: var(--preserve-3d);
  -webkit-transform-style: var(--preserve-3d);
  transition: transform 500ms ease-out;
}

.card:hover > .card__container {
  transform: rotateY(180deg) translateY(-0.5rem) scale(1.05);
}

.card__face {
  --face-size: 100%;
  --backface: hidden;
  background-color: var(--color-neutral);
  border-radius: 0.3125rem;
  box-sizing: border-box;
  backface-visibility: var(--backface);
  -moz-backface-visibility: var(--backface);
  -webkit-backface-visibility: var(--backface);
  display: flex;
  height: var(--face-size);
  padding: 1rem;
  position: absolute;
  width: var(--face-size);
}

.card__face--front {
  flex-direction: column;
  justify-content: flex-end;
}

.card__face--back {
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  text-align: center;
}

.card__text {
  color: var(--color-description);
  font-size: 1rem;
  line-height: 1.4rem;
}

.card__image {
  --card-size: 1.875rem;
  background: no-repeat center/cover;
  height: var(--card-size);
  margin-bottom: 1rem;
  width: var(--card-size);
}

/* Skills */
.card__image--skill-1 {
  background-image: url("../img/skills/html.svg");
}

.card__image--skill-2 {
  background-image: url("../img/skills/css.svg");
}

.card__image--skill-3 {
  background-image: url("../img/skills/js.svg");
}

.card__image--skill-4 {
  background-image: url("../img/skills/java.svg");
}

.card__image--skill-5 {
  background-image: url("../img/skills/git.svg");
}

.card__image--skill-6 {
  background-image: url("../img/skills/vscode.svg");
}

/* Hobbies */
.card__image--hobby-1 {
  background-image: url("../img/hobbies/chat.svg");
}

.card__image--hobby-2 {
  background-image: url("../img/hobbies/games.svg");
}

.card__image--hobby-3 {
  background-image: url("../img/hobbies/music.svg");
}

.card__image--hobby-4 {
  background-image: url("../img/hobbies/programming.svg");
}

.card__image--hobby-5 {
  background-image: url("../img/hobbies/reading.svg");
}

.card__image--hobby-6 {
  background-image: url("../img/hobbies/videos.svg");
}

.card__title {
  color: var(--color-text);
  font-weight: 700;
}

@media screen and (min-width: 325px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
  }
  .card {
    height: 10rem;
  }
}
.attribute {
  background-color: var(--color-background-2);
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.attribute__title {
  text-align: center;
  padding-bottom: 2rem;
}

.education {
  background-color: var(--color-background-1);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.education__title {
  text-align: center;
  padding-bottom: 2rem;
}

.education__institutions {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.institution {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.institution__image {
  box-shadow: 0 0.3125rem 0.8rem 0px rgba(0, 0, 0, 0.1);
  height: auto;
  transition: transform 500ms;
  width: 100%;
}

.institution__image:hover {
  transform: scale(1.025);
}

.institution__course {
  color: var(--color-text);
  font-weight: 700;
}

.institution_description {
  color: var(--color-text);
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .education__institutions {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .education {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.projects {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.projects__title {
  text-align: center;
  padding-bottom: 2rem;
}

.project {
  --box-shadow-common: 8px 1.5rem 0px rgba(0, 0, 0, 0.21);
  --box-shadow-hover: 0 0 0.8rem 0px rgba(0, 0, 0, 0.15);
  --box-shadow-left: -30px var(--box-shadow-common);
  --box-shadow-right: 30px var(--box-shadow-common);
  display: grid;
  grid-template: "thumbnail" "information"/1fr;
}

.project:not(:last-child) {
  margin-bottom: 5rem;
}

.project__image {
  box-shadow: var(--box-shadow-left);
  -moz-box-shadow: var(--box-shadow-left);
  -webkit-box-shadow: var(--box-shadow-left);
  grid-area: thumbnail;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.project__information {
  grid-area: information;
  text-align: justify;
}

.project__title {
  color: var(--color-text);
  font-weight: 700;
  margin: 1rem 0;
}

.project__description {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
}

.project__link {
  border: 0.125rem solid transparent;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  padding: 0.8rem 1rem;
  transition: all 500ms;
}

.project__link--source {
  background-color: var(--color-neutral);
  color: var(--color-source-button);
  border: 0.125rem solid var(--color-primary);
  margin-right: 0.75rem;
}

.project__link--source:focus,
.project__link--source:hover {
  background-color: var(--color-source);
}

.project__link--demo {
  background-color: var(--color-primary);
  color: var(--color-button-text);
}

.project__link--demo:focus,
.project__link--demo:hover {
  background-color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .projects {
    padding-bottom: 5rem;
  }
  .project {
    --length-perspective: 90rem;
    align-items: center;
    gap: 2rem;
    grid-template: "thumbnail information"/3fr 2fr;
    perspective: var(--length-perspective);
    -moz-perspective: var(--length-perspective);
    -webkit-perspective: var(--length-perspective);
  }
  .project:nth-of-type(even) {
    grid-template: "information thumbnail"/2fr 3fr;
  }
  .project__title {
    margin-top: 0;
  }
  .project__image {
    height: auto;
    transition: transform 250ms ease-in-out, box-shadow 300ms;
    transform: rotateY(35deg);
  }
  .project:nth-of-type(even) > .project__image {
    box-shadow: var(--box-shadow-right);
    -moz-box-shadow: var(--box-shadow-right);
    -webkit-box-shadow: var(--box-shadow-right);
    transform: rotateY(-35deg);
  }
  .project:hover > .project__image {
    --box-shadow-left: var(--box-shadow-hover);
    --box-shadow-right: var(--box-shadow-hover);
    transform: rotateY(0deg);
  }
}
.contact {
  background-color: var(--color-background-1);
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.contact__feedback {
  --feedback-size: 100%;
  --move-x-initial: 0;
  animation: fade-and-move 0.5s ease;
  background-color: rgba(0, 255, 0, 0.25);
  display: none;
  height: var(--feedback-size);
  position: absolute;
  width: var(--feedback-size);
  z-index: 1;
}

.contact__feedback--show {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact__feedback--show ~ .contact__item {
  filter: blur(5px);
}

.contact__feedback__title {
  animation: fade-and-move 0.4s ease;
  --move-x-initial: -2rem;
  color: var(--color-contact-feedback);
  text-align: center;
}

.contact__feedback__title::before {
  --feedback-icon-size: 16rem;
  background: url("../img/status/success.png") no-repeat center/var(--feedback-icon-size);
  content: "";
  display: block;
  height: var(--feedback-icon-size);
  margin: 0 auto 2rem;
  width: var(--feedback-icon-size);
}

.contact__feedback__close {
  --feedback-btn-size: 3rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  height: var(--feedback-btn-size);
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 100ms;
  width: var(--feedback-btn-size);
}

.contact__feedback__close:hover {
  color: var(--color-danger);
}

.contact__image {
  background: url("../img/contact.jpg") no-repeat center/cover;
  display: none;
}

.contact__title {
  margin-bottom: 0.5rem;
}

.contact__description {
  color: var(--color-description);
  font-weight: 300;
  line-height: 1.25;
}

.contact__error {
  color: var(--color-danger);
  margin: 1rem 0;
}

.contact__form__group {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.contact__label {
  color: var(--color-placeholder);
  cursor: text;
  font-size: 1rem;
  padding-left: 1rem;
  position: absolute;
  transition: top 0.15s ease-in-out, font-size 0.15s ease-in-out;
  top: 1.4rem;
}

.contact__field {
  border: none;
  border-bottom: 0.125rem solid var(--color-disabled);
  border-radius: 0.3125rem;
  box-sizing: border-box;
  display: block;
  font-family: var(--font-main);
  font-size: 1rem;
  margin-bottom: 2rem;
  outline: none;
  padding: 1.25rem 1rem;
  resize: none;
  transition: border 150ms ease-in-out, padding 100ms ease;
  width: 100%;
}

.contact__field[required] + .contact__label::after {
  content: "*";
  color: var(--color-danger);
  padding-left: 0.2rem;
}

.contact__field--error {
  border-color: var(--color-danger);
}

.contact__field--ok {
  border-color: var(--color-ok);
}

.has-content,
.contact__field:focus {
  padding: 2rem 1rem 0.5rem;
}

.contact__field:focus {
  border-color: var(--color-primary);
}

.has-content + .contact__label,
.contact__field:focus + .contact__label {
  font-size: 85%;
  top: 0.5rem;
}

.contact__field:focus + .contact__label {
  color: var(--color-primary);
}

.contact__field::placeholder {
  font-size: 1rem;
}

.contact__button {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-button-text);
  cursor: pointer;
  font-family: var(--font-main);
  font-size: 1rem;
  margin-right: 0.75rem;
  padding: 0.8rem 1rem;
  text-decoration: none;
  transition: all 500ms;
}

.contact__button--disabled {
  background-color: var(--color-disabled);
  pointer-events: none;
}

.contact__button:focus,
.contact__button:hover {
  background-color: var(--color-secondary);
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .contact {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    gap: 1rem;
    grid-template-columns: 2fr 3fr;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .contact__image {
    display: block;
  }
}
.footer {
  background-color: var(--color-neutral);
  padding: 2rem 0;
  text-align: center;
}

.footer__text {
  color: var(--color-text);
  font-weight: 500;
}

.footer__highlight {
  color: var(--color-highlight);
}

.footer__date {
  color: var(--color-text);
  padding-top: 0.25rem;
}

/* Extra Styling */
.theme-toggler {
  --size: 2.5rem;
  --mask-image: url("../img/theme-switch.svg");
  --mask-size: 1.5rem;
  --mask-repeat: no-repeat;
  --mask-position: center;
  background-color: var(--color-text);
  cursor: pointer;
  height: var(--size);
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
  mask-size: var(--mask-size);
  -webkit-mask-size: var(--mask-size);
  mask-repeat: var(--mask-repeat);
  -webkit-mask-repeat: var(--mask-repeat);
  mask-position: var(--mask-position);
  -webkit-mask-position: var(--mask-position);
  padding: 0;
  transition: filter 300ms;
  width: var(--size);
}

.theme-toggler:focus,
.theme-toggler:hover {
  filter: brightness(1.75);
}

@media screen and (min-width: 1024px) {
  .line-under {
    display: inline-block;
  }
  .line-under::after {
    background-color: var(--color-primary);
    content: "";
    display: block;
    height: 0.175em;
    transition: width 250ms ease-out;
    width: 0%;
  }
  .line-under--pink::after {
    background-color: var(--color-link-1);
  }
  .line-under--blue::after {
    background-color: var(--color-link-2);
  }
  .line-under--green::after {
    background-color: var(--color-link-3);
  }
  .line-under-container:focus > .line-under::after,
  .line-under-container:hover > .line-under::after,
  .line-under:focus::after,
  .line-under:hover::after {
    width: 100%;
  }
}
.to-top {
  --size: 3.125rem;
  --move-x-initial: 0;
  --move-y-initial: 50%;
  animation: fade-and-move 500ms;
  bottom: var(--container-sides);
  color: var(--color-button-text);
  font-size: 0.75rem;
  font-weight: 600;
  height: var(--size);
  line-height: var(--size);
  position: fixed;
  right: var(--container-sides);
  text-decoration: none;
  text-align: center;
  width: var(--size);
  z-index: 5;
}

.to-top__content {
  --vertical-shadow: 2px;
  box-shadow: 0 var(--vertical-shadow) var(--color-black);
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: transform 50ms;
}

.to-top:active > .to-top__content {
  --vertical-shadow: 0;
  transform: translateY(0.15rem);
}

.to-top--hidden {
  display: none;
}