.menu {
    width: 100%;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 1.75rem;
    text-align: center;
}

.menu__link {
    border-bottom: 0.125rem solid rgba(0, 0, 0, 0.5);
    color: var(--color-text);
    display: inline-block;
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 500;
    padding: .35rem .25rem .35rem;
    text-decoration: none;
    transition: opacity 500ms;
    width: 100%;
}

.menu__link:hover {
    opacity: 0.75;
}

@media screen and (min-width: 600px) {
    .menu {
        width: auto;
    }

    .menu__list {
        flex-direction: row;
    }
    
    .menu__link {
        border: none;
        display: inline;
        padding: .25rem;
        width: auto;
    }
}