.menu {
    width: 100%;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 2rem;
    text-align: center;
}

.menu__item {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

.menu__link {
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 500ms;
}

.menu__link:hover {
    opacity: 0.75;
}

@media screen and (min-width: 600px) {
    .menu {
        width: auto;
    }

    .menu__list {
        flex-direction: row;
    }

    .menu__item {
        border: none;
        padding: 0;
    }
}