.personal-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3.125rem;
}

.personal-info__image {
    background: url("https://github.com/GracilianoOG.png") no-repeat center / cover;
    border-radius: 50%;
    height: 9.375rem;
    width: 9.375rem;
}

.personal-info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.personal-info__title {
    color: var(--color-text);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.25;
}

.personal-info__description {
    font-weight: 300;
    line-height: 1.25;
}

.personal-info__list {
    display: flex;
    gap: 1rem;
}

.personal-info__link {
    background: no-repeat left / 1.5rem;
    color: var(--color-text);
    font-weight: 600;
    padding: .5rem 0 .5rem 1.8rem;
    text-decoration: none;
    transition: opacity 500ms;
}

.personal-info__link:hover {
    opacity: 0.75;
}

.personal-info__link--info-1 {
    background-image: url("../img/social/github.svg");
}

.personal-info__link--info-2 {
    background-image: url("../img/social/linkedin.svg");
}

.personal-info__link--info-3 {
    background-image: url("../img/social/resume.svg");
}

@media screen and (min-width: 768px) {
    .personal-info {
        flex-direction: row-reverse;
    }

    .personal-info__image {
        height: 12.5rem;
        width: 12.5rem;
    }

    .personal-info__content {
        width: calc(100% - 12.5rem);
    }

    .personal-info__description {
        font-size: 1.1rem;
    }

    .personal-info__list {
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .personal-info__image {
        height: 18.75rem;
        width: 18.75rem;
    }
    
    .personal-info__content {
        width: calc(100% - 18.75rem);
    }

    .personal-info__title {
        font-size: 2rem;
    }

    .personal-info__description {
    font-size: 1.2rem;
    }
}