.personal-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 50px 5% 0 5%;
}

@media screen and (min-width: 768px) {
    .personal-info {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 1024px) {

    .personal-info {
        padding: 50px 8% 0 8%;
    }
}