.personal-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 50px 5% 0 5%;
}

.personal-info__image {
    background-color: red;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.personal-info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.personal-info__title {
    color: #464646;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
}

.personal-info__description {
    font-weight: 400;
    line-height: 1.15;
}

.personal-info__list {
    display: flex;
    gap: 1rem;
}

.personal-info__link {
    color: #464646;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .personal-info {
        flex-direction: row-reverse;
    }

    .personal-info__image {
        height: 200px;
        width: 200px;
    }

    .personal-info__content {
        width: calc(100% - 200px);
    }

    .personal-info__list {
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {

    .personal-info {
        padding: 50px 8% 0 8%;
    }

    .personal-info__image {
        height: 300px;
        width: 300px;
    }

    .personal-info__content {
        width: calc(100% - 300px);
    }

    .personal-info__title {
        font-size: 2rem;
    }
}