.projects {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.projects__title {
    color: var(--color-text);
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

.project {
    display: flex;
    flex-wrap: wrap;
}

.project:not(:last-child) {
    margin-bottom: 5rem;
}

.project__image {
    box-shadow: -3px -3px 5px rgba(0, 0, 0, .25);
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.project__title {
    color: var(--color-text);
    font-weight: 700;
    margin: 1rem 0;
}

.project__description {
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.project__link {
    border: 2px solid transparent;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    padding: 0.8rem 1rem;
    transition: all 500ms;
}

.project__link--source {
    background-color: var(--color-neutral);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    margin-right: 0.75rem;
}

.project__link--source:hover {
    background-color: var(--color-source);
}

.project__link--demo {
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

.project__link--demo:hover {
    background-color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {

    .projects__title {
        font-size: 2rem;
    }

    .project {
        align-items: center;
    }

    .project:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .project__title {
        margin-top: 0;
    }

    .project__information {
        box-sizing: border-box;
        padding: 0 2rem;
        max-width: 40%;
    }

    .project__image {
        height: auto;
        width: 60%;
    }
}