@use "sass:map";
@use "../utils/breakpoints" as *;

.header {
  backdrop-filter: blur(5px);
  background-color: color-mix(
    in srgb,
    var(--color-background-3) 80%,
    transparent
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
  position: sticky;
  row-gap: 2.5rem;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__menu {
  --move-x-initial: 0;
  --move-y-initial: -1rem;
  animation: fade-and-move 0.3s;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__menu--off {
  display: none;
}

@media screen and (min-width: map.get($breakpoints, lg)) {
  .header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .header__menu {
    animation: none;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}
