.card {
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 3rem 0 1rem 1rem;
}

@media screen and (min-width: 325px) {
    
    .card {
        width: calc(50% - 0.5rem);
    }
}

@media screen and (min-width: 600px) {

    .card {
        width: calc(33% - 0.6rem);
    }
}

@media screen and (min-width: 1024px) {

    .card {
        padding: 5rem 0 1rem 1rem;
        width: calc(16% - 0.5rem);
    }
}