.card {
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 3rem 1rem 1rem 1rem;
    transition: transform 500ms;
}

.card:hover {
    transform: translateY(-1rem);
}

@media screen and (min-width: 325px) {
    
    .card {
        width: 49%;
    }
}

@media screen and (min-width: 600px) {

    .card {
        width: 32%;
    }
}

@media screen and (min-width: 1024px) {

    .card {
        padding: 5rem 1rem 1rem 1rem;
        width: 15%;
    }
}