.personal-info__link {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    color: #464646;
    font-weight: 600;
    padding: .5rem 0 .5rem 1.8rem;
    text-decoration: none;
    transition: opacity 500ms;
}

.personal-info__link:hover {
    opacity: 0.6;
}

.personal-info__link--info-1 {
    background-image: url("../../img/social/github.svg");
}

.personal-info__link--info-2 {
    background-image: url("../../img/social/linkedin.svg");
}

.personal-info__link--info-3 {
    background-image: url("../../img/social/resume.svg");
}